@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --surface: #050505;
  --border: #1A1A1A;
  --muted: #71717A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans), "Inter", sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #1c1917;
}

::-webkit-scrollbar-thumb {
  background: #f97316; /* Orange-500 */
  border-radius: 9999px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c; /* Orange-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #000000;
}
